.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.home-title {
  grid-column: 1 / 4;
  margin-left: 40%;
}

.content-1 {
  grid-column: 1 / 4;
}

.content-2 {
  grid-column: 1 / 2;
  margin-left: 50%;
}

.content-3 {
  grid-column: 3 / 4;
  margin-right: 30%;
}
