.main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.noMatch-title {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 7em;
  margin-bottom: -3%;
}

.message {
  font-size: 2em;
}

.art {
  font-size: 3em;
}
