### Build related files ###
.classpath
.project
.settings/
### Editor settings ###
.vscode
### Lombok project ###
.factorypath
### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml
### React ###

# dependencies
/src/main/js/com/chatter/node_modules/
/src/main/js/com/chatter/.pnp
/src/main/js/com/chatter/.pnp.js

# testing
/src/main/js/com/chatter/coverage

# production
/src/main/js/com/chatter/build/**

# misc
/src/main/js/com/chatter/.DS_Store
/src/main/js/com/chatter/.env.local
/src/main/js/com/chatter/.env.development.local
/src/main/js/com/chatter/.env.test.local
/src/main/js/com/chatter/.env.production.local
/src/main/js/com/chatter/npm-debug.log*
/src/main/js/com/chatter/yarn-debug.log*
/src/main/js/com/chatter/yarn-error.log*
/src/main/js/com/chatter/.env
/src/main/js/com/chatter/eslint_result.txt


/src/main/js/com/chatter/package-lock.json
/src/main/js/com/chatter/README.md
### Temp files ###
/src/main/js/com/chatter/src/Components/PersonInput.js
/src/main/js/com/chatter/src/Components/PersonList.js
