.register-page, .login-page {
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  align-items: center;
  margin-left: 35%;
}

.register-page > input, label {
  margin-top: 10px;
}

.login, .email, .password, .password-repeat {
  width: 100%;
}

.button {
  width: 100%;
  margin-top: 2%
}
