.user-page {
  width: 80%;
  align-items: center;
  margin-left: 10%;
  margin-top: 8%;
  background-color: dodgerblue;
  font-size: 1.5em;
  padding: 1%;
  -webkit-box-shadow: 15px 16px 34px 5px rgba(21,98,214,1);
  -moz-box-shadow: 15px 16px 34px 5px rgba(21,98,214,1);
  box-shadow: 15px 16px 34px 5px rgba(21,98,214,1);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  margin-left: 40%;
  font-weight: 700;
  color: yellow;
}

.key {
  width: 50%;
}
.value {
  width: 50%;
}

.user-userName {
  width: 100%;
}
.user-userEmail,
.user-login,
.user-accountPrivacy {
  display: block;
  width: 40%;
  margin-right: auto;
}

.change-login,
.change-email,
.change-privacy {
  display: block;
  width: 60%;
  align-self: center;
  margin-left: auto;
  border-radius: 30em;
}
.div-delete-account,
.logout-div {
  margin: 1%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.button-delete-account,
.logout {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  background-color: yellow;
  border-radius: 30em;
}

