<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
  <title>Delete account</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Delete account:</h1>
    <form action="#" th:action="@{/account/delete}" th:object="${account_delete}" method="POST">
      <p>Account name: <input type="text" th:field="*{name}" /></p>
      <p>or</p>
      <p>Account email: <input type="text" th:field="*{email}"></p>
      <p><input type="submit" value="Delete" /> <input type="reset" value="Reset" /></p>
    </form>
    <br>
    <a href="/">Home</a>
</body>
</html>